extends layout

block content

	h1 #{drillinstance.date_formatted}

	p #[strong Leader: ]
		a(href=drillinstance.leader.url) 
		!=drillinstance.leader.fulltitle
	p #[strong Drill: ] 
		!=drillinstance.drill.fulltitle
		
	div(style='margin-left:20px;margin-top:20px')
		h4 Participants

		each val in drillinstance.firefighters
			hr
			a(href=val.url)
				!=val.fulltitle

