extends layout

block content

    h1 #{title}
    
    form(method='POST' action='')
        .form-group
            label(for='name') Qualification Name:
            input#name.form-control(type='text', placeholder='Enter Name of Qualification' name='name' required='true' value=(undefined===firefighter ? '' : firefighter.number))
        input(type='hidden', name='_csrf', value=_csrf)
        button.btn.btn-primary(type='submit') Submit